img {
  height: 150px;
}

.card {
  border-radius: 5px;
  min-width: 30vw;  
  margin: 10px 2px 0px 2px;
  padding: 10px;
  text-align: center;
  background: white;
  color: #242B28;
}

.card-description {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}