img {
  height: 150px;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  min-width: 30vw;  
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card-description {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}