.card {
  border-radius: 5px;
  min-width: 30vw;  
  margin: 10px 2px 0px 2px;
  padding: 10px;
  text-align: center;
  background: white;
  color: #242B28;
}

.card-description {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card-bran d{
  font-weight: 800;
  font-size: 32px;
  margin: 10px 0px 10px 0px;
}

.card-img {
  height: 200px;
  margin: 10px 0px 10px 0px
}

