.results-container {
  text-align: center;
  margin: auto
}

.results-page {
  display: flex;
  text-align: center;
}

.results-page-headline {
  text-align: center;
  font-size: 40px;
}

.loading-sentence {
  text-align: center;
  margin: auto;
}

.loading-div {
  margin: auto;
}

.loading-animation {
  height: 800%;
}