.welcome-page {
  text-align: center;
  border-radius: 6px;
  margin: 50px 300px 0px 300px;
  padding: 20px 10px 20px 10px;
  color: #242B28;
  background-color: #8EA99E;
} 

.welcome-header {
  font-size: 40px;
  margin: 10px 0px 5px 0px;
}

.welcome-CTA {
  margin: 40px 60px 10px 60px;
}

.welcome-experience {
  margin: 40px 0px 10px 0px;
}

.button-start-quiz {
  margin: 30px 10px 10px 10px;
  background-color: #242B28;
  color: #8EA99E;
  border: none;
  border-radius: 2px;
  width: 45%;
  height: 40px;
  font-size: 20px;
}

.button-start-quiz:hover {
  color: white;
}

.welcome-subhead {
  margin: 20px 55px 10px 55px
}
